pkgbase = trizen-git
	pkgdesc = Trizen AUR Package Manager: A lightweight wrapper for AUR (-git version).
	pkgver = 1.38.3.ge8380f8
	pkgrel = 1
	url = https://github.com/trizen/trizen
	arch = any
	license = GPL3
	depends = git
	depends = pacutils
	depends = perl>=5.20.0
	depends = perl-libwww
	depends = perl-term-ui
	depends = pacman
	depends = perl-json
	depends = perl-data-dump
	depends = perl-lwp-protocol-https
	optdepends = perl-json-xs: faster JSON deserialization
	optdepends = perl-term-readline-gnu: better STDIN support
	provides = trizen
	conflicts = trizen
	source = git://github.com/trizen/trizen.git
	sha256sums = SKIP

pkgname = trizen-git

